/* ===================================== */
/* ============ ABOUT PAGE ============= */
/* ===================================== */

.history{
	padding: 4% 0 8%;

	.graphic{
		min-width: 100%;
		min-height: 100%;
		z-index:1;
	}

	.gray-box{
		background-color:#f4f4f4;
		padding:20% 5% 5%;

		@include breakpoint(small only){
			padding: 0;
		}
	}

	.gray-container{

		@include breakpoint(small only){
			padding: 10% 0;
			background-color:#f4f4f4;
		}
	}

	img{
		right: 0;
		transform: translateY(-10%);
		width:45vw;

		@include breakpoint(medium down){
			width: 40vw;
		}
	}

	.hide-for-medium img{
		width: 100%;
		transform: translateY(0%);
	}
}
.team{
	text-align:center;

	@include breakpoint(small only){
		padding-top: 5%;
	}
}
.colors{
	background-color:#f4f4f4;
	padding: 8% 0;

	@include breakpoint(small only){
		padding: 10% 0;
	}

	img{

		@include breakpoint(small only){
			margin-bottom: 20px;
		}
	}

	h4{
		font-family:"Futura PT";
		font-weight:600;
		font-size:20px;
	}
}
// team carousel
.team{
	.owl-carousel {
	  .owl-prev,.owl-next{
	  	position:absolute;
	  }
	  .owl-prev{
	  	left: -30px;
	  	top: 50%;
	  	transform:translateY(-100%);
	  }
	  .owl-next{
	  	right: -30px;
	  	top: 50%;
	  	transform:translateY(-100%);
	  }
	  .owl-dots{
	  	display:none;
	  }
	}
}
.team-member{
	.team-member-meta{
		padding: 20px;
		bottom: 0;
		left: 0;
		background-color: rgba(239, 137, 3, 0.8);
		width: 100%;
		opacity: 0;
		transition: opacity 0.25s ease-in-out;
		h5,h6{
			color: $white;
			margin-bottom: 0;
			font-size: 18px;
		}
		h6{
			text-transform:uppercase;
			font-size: 12px;
			font-family: 'futura-pt';
			font-weight: 600;
		}
	}

	img{
		transition:opacity 0.25s ease-in-out;
	}

	.team-image img:last-of-type{
		opacity:0;
		top: 0;
	}

	&:hover .team-member-meta{
		opacity:1;
	}

	&:hover .team-image {
		
		img:first-of-type{
			opacity:0;
		}
		img:last-of-type{
			opacity:1;
		}
	}
}