.contact-form{
	padding: 10% 0;

	@include breakpoint(small only){
		padding: 10% 0 0;
	}

	.gray-box{
		background-color: #f4f4f4;
		padding: 5%;

		@include breakpoint(small only){
			padding: 0;
		}
	}

	.gray-container{

		@include breakpoint(small only){
			padding: 10% 0;
			background-color:#f4f4f4;
		}
	}

	img{
		right: 0;
		top: 7%;
		width: 45vw;
		max-width: 850px;

		@include breakpoint(medium down){
			width: 35vw;
		}
	}

	img.hide-for-medium{
		width: 100%;
		transform: translateY(0%);
	}

	// CONTACT FORM
	.nf-form-cont .one-half{

		@include breakpoint(small only){
			width: 100%;
			margin-left: 0;
		}
	}

	.nf-form-fields-required{
		display:none;
	}

	.nf-error .ninja-forms-field{
		border:none;
		border-bottom: 2px solid red;
	}

	#nf-form-1-cont {
		
		textarea{
			background-color: transparent;
	    box-shadow: none;
	    resize: none;
	    border: 2px solid #adad00;
		}

		input{
			background-color:transparent;
			border: none;
			box-shadow: none;
			border-bottom: 2px solid $green;
			color: $gray_text;
			font-size: 18px;
			font-family: "futura-pt";

			&:focus{
				border:none;
				border-bottom: 2px solid $green;
				background-color: transparent;
				box-shadow: none;
			}
		}

		#nf-field-4-container{
			margin-bottom: 0;
			@include breakpoint(small down){
				margin-bottom: 20px;
			}
		}

		#nf-field-4{
			background-image: url(../images/arrow.png);
			border: none;
			background-repeat: no-repeat;
			background-position: 95% 50%;
			background-color: $orange;
			color: white;
			width: 350px;
			text-align: right;
			margin-left: -15%;
			margin-top: 25px;
			padding: 10px 50px 10px;
			font-size: 24px;
			box-shadow: 5px 5px #ddd;
			cursor:pointer;

			@media(max-width:768px){
				width: 300px;
			}

			&:hover{
				background-color:$green;
			}

			&:active{
				top: 1px;
			}
		}
	}

	// Form Placeholder Styles
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $gray_text;
	  font-size: 18px;
	  font-family: "futura-pt";
	}

	::-moz-placeholder { /* Firefox 19+ */
	  color: $gray_text;
	  font-size: 18px;
	  font-family: "futura-pt";
	}

	:-ms-input-placeholder { /* IE 10+ */
	  color: $gray_text;
	  font-size: 18px;
	  font-family: "futura-pt";
	}

	:-moz-placeholder { /* Firefox 18- */
	  color: $gray_text;
	  font-size: 18px;
	  font-family: "futura-pt";
	}
}