.contact-form{
	padding: 10% 0;
	.gray-box{
		background-color: #f4f4f4;
		padding: 5%;
	}
	img{
		right: 0;
		top: 7%;
		width: 50%;
		max-width: 850px;
	}
	.nf-form-fields-required{
		display:none;
	}
	.nf-error .ninja-forms-field{
		border:none;
		border-bottom: 2px solid red;
	}
	input{
		background-color:transparent;
		border: none;
		box-shadow: none;
		border-bottom: 2px solid $green;
		color: $gray_text;
		font-size: 14px;
		font-family: "futura-pt";
		&:focus{
			border:none;
			border-bottom: 2px solid $green;
			background-color: transparent;
			box-shadow: none;
		}
	}
	#nf-field-4{
		background-image: url(../images/arrow-right.png);
		border: none;
		background-repeat: no-repeat;
		background-position: right 50%;
		background-color: $orange;
		color: white;
		width: 350px;
		text-align: right;
		margin-left: -15%;
		margin-top: 40px;
		padding: 10px 50px 10px;
		font-size: 24px;
		box-shadow: 5px 5px #ddd;
		cursor:pointer;
		@media(max-width:768px){
			width: 300px;
		}
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $gray_text;
	  font-size: 14px;
	  font-family: "futura-pt";
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $gray_text;
	  font-size: 14px;
	  font-family: "futura-pt";
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $gray_text;
	  font-size: 14px;
	  font-family: "futura-pt";
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $gray_text;
	  font-size: 14px;
	  font-family: "futura-pt";
	}
}