/* ===================================== */
/* =============== FOOTER ============== */
/* ===================================== */
.footer{
	.grid-container.fluid{
		padding: 0;
	}
	.work-together{
		width: 90%;
		left: 10%;
		top: 50%;
		transform: translateY(-50%);
		padding:6% 0;
		background-color:$gray_text;
		h2,p,a{
			color:$white;
		}
		h2{
			font-size: 60px;
		}
		p{
			margin-bottom: 30px;
		}
		blockquote{
			padding-top: 0;
		}
		.contact-us{
			background-color:$orange;
			width: 350px;
			display: inline-block;
			padding: 10px 15px;
			text-align: right;
			position: relative;
			left: -10px;
			font-size: 24px;
			i{
				font-size: 24px;
			}
		}
	}
	.bottom-footer{
		padding: 5% 0;
		.copyright,.address{
			list-style-type: none;
			li{
				display: inline-block;
				font-size: 12px;
			}
		}
		.address{
			display:flex;
			li{
				align-self:center;
				&:first-of-type{
					margin-right: 15px;
				}
			}
			span,.social-icons{
				line-height: 1.8em;
			}
			.social-icons{
				list-style-type:none;
				margin-left: 0;
				li{
					display:inline-block;
					margin-right: 8px;
				}
				i{
					font-size: 14px;
				}
			}
		}
	}
}