/* ===================================== */
/* ============== GENERAL ============== */
/* ===================================== */
section{
	margin-left: 50px;
}
.absolute{
	position:absolute;
}
.relative{
	position:relative;
}
p{
	font-size: 20px;
	font-family: 'futura-pt';
	font-weight: 400;
}
blockquote p{
	font-size: 24px;
}
h1,h2,h3,h4,h5{
	font-family: "clarendon-text-pro";
}
h1,h2,h3,h4,h5,p,a,li,div{
	color:$gray_text;
}
h1{
	font-size: 50px;
}
h3{
	font-size: 40px;
}
.btn-arrow{
	text-transform:uppercase;
	font-family: "futura-pt";
	font-weight: 600;
	letter-spacing:2px;
	&.white i{
		color:$white;
	}
	&.orange i{
		color:$orange;
	}
}