/* ===================================== */
/* ============== GENERAL ============== */
/* ===================================== */
section{
	margin-left: 60px;

	@include breakpoint(small only){
		margin-left: 0;
	}
}

.hide800{
	@media(max-width:800px){
		display:none;
	}
}

.show800{
	@media(min-width:801px){
		display:none;
	}
}

.absolute{
	position:absolute;
}

.relative{
	position:relative;
}

.left{
	float:left;
}

.right{
	float:right;
}

p{
	font-size: 18px;
	font-family: 'futura-pt';
	font-weight: 400;
}

blockquote p{
	font-size: 24px;
	line-height: 1.4;
}

h1,h2,h3,h4,h5,h6{
	font-family: "clarendon-text-pro";
}

h1,h2,h3,h4,h5,h6,p,a,li,div{
	color:$gray_text;
}

h1{
	font-size: 50px;
}

h3{
	font-size: 40px;
	line-height: 1.2em;
}

.owl-carousel{

	.owl-prev i,.owl-next  i {
		transition: color 0.25s ease-in-out;
	}
	.owl-prev:hover i,.owl-next:hover i{
		color:#b2b2b2;
	}

	.owl-prev:active i,.owl-next:active i{
		color:#ddd;
	}
}

.btn-arrow{
	text-transform:uppercase;
	font-family: "futura-pt";
	font-weight: 600;
	letter-spacing: 2px;
	position: relative;
	transition: all 0.25s ease-in-out;

	i{
		transition:color 0.25s ease-in-out;
	}

	&.white i{
		color:$white;
	}

	&.orange i{
		color:$orange;
	}

	&:not(.contact-us){

		&:hover{
		  color:$orange;

		  i{
		  	color:$orange;
		  }
		}
		
	}
}

.center-mobile{

	@include breakpoint(small only){
		text-align: center;
	}
}

.subhead{
	margin-bottom: 50px;
	font-size: 20px;
}

.top-title{
	padding: 5% 0;

	@include breakpoint(small only){
		padding: 30% 0 5%;
	}

	h1{
		color:$orange;
		font-size: 65px;
	}

	blockquote{
		border-left: 2px solid $orange;
		padding-top: 0;

		p{
			color: $gray_text;
		}
	}
}
