/* ===================================== */
/* ============= NAVIGATION ============ */
/* ===================================== */
.left-menu{
	position:fixed;
	width:60px;
	height:100vh;
	background-color:#333;
	z-index: 6;
	transition:width 0.4s ease-in-out;

	@include breakpoint(small only){
		width: 0;
	}

	#hamburger{
		padding: 5px;
		cursor: pointer;
		position: fixed;
		left: 15px;
		top: 20px;
		transition: left 0.4s ease-in-out,opacity 0.25s ease-in-out;

		@include breakpoint(small only){
			opacity: 0;
			top: 16px;
		}

		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
			width: 22px;
		}

		.hamburger-box{
			width: 22px;
			height: 19px;
		}

		&.is-active{
			left: 180px;

			.hamburger-inner::before{
				top: -5px;
			}
			.hamburger-inner::after{
				bottom: -5px;
			}

			@include breakpoint(small only){
				opacity: 1;
			}
		}

	}

	&.slide-in{
		width: 250px;

		.nav-menu{
			opacity:1;
		}
	}

	.nav-menu{
		position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    list-style-type: none;
    margin: 0;
    opacity:0;
    transition: opacity 0.15s ease-in-out 0.18s;

    li{
    	text-transform: uppercase;
    	font-weight: 600;
    	padding: 3px 0;

    	a{
    		color: $white;
    		font-family: 'futura-pt';
    		letter-spacing: 2px;
    		transition: color 0.25s ease-in-out;

    		&:hover{
    			color:$orange;
    		}
    	}
    }
	}
}