/* ===================================== */
/* =========== SERVICES PAGE =========== */
/* ===================================== */
.history.services-history,.history.services-analyze{
	
	@include breakpoint(small only){
		padding: 0;
	}
}

.page-template-page-services .colors{
	padding: 4% 0;
}

.plan, .repeat{
	padding: 4% 0;

	@include breakpoint(small only){
		padding: 0;
	}

	.graphic{
		min-width: 100%;
		min-height: 100%;
		z-index:1;
	}

	.gray-container{

		@include breakpoint(small only){
			padding: 10% 0;
			background-color:#f4f4f4;
		}
	}

	.gray-box{
		background-color:#f4f4f4;
		padding:20% 5% 5%;

		@include breakpoint(small only){
			padding: 0;
		}
	}

	img{
		left: 0;
		transform: translateY(25%);
		width:40vw;
	}

	.hide-for-medium img{
		width: 100%;
		transform: translateY(0%);
	}
}
.colors.execute{
	background-color:$white;
}